p{
    text-align:center;
}

#p1{
    color:white;
}

.contents {
    display: flex;
    align-items: center;
}

/*The size of the photo and the spaces in the text etc. edited part*/
.image {
    margin-right: 20px;
}

    .image img {
        height: 250px;
        width: auto;
        box-shadow: 1px 1px 15px red;
    }

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:16px;
}
